{% extends "AcmeJqueryBundle::layout.html.twig" %}

{% block head %}
    {{ parent() }}
     <style>
        a.test { font-weight: bold; }
     </style>
{% endblock %}

{% block content %}
    <h1>JQuery</h1>
    <a href="http://jquery.com/">jQuery</a>
    <script>
         $(document).ready(function(){
             $("a").click(function(event){
               event.preventDefault();
               $(this).hide("slow");
             });
             $("a").addClass("test");
             $("a").removeClass("test");
         });
    </script>
{% endblock %}
    
{% set code = code(_self) %}